---
import GitHubIcon from './GitHubIcon.astro';
---

<section id="contact" class="px-[var(--page-padding)] py-24 bg-base-200">
	<h1 class="text-5xl font-bold mb-8">Reach Out</h1>
	<p class="max-w-[40em] mb-8">
		You can tell us about what you need to make an impact on the project with your ideas. Any questions or suggestions
		are welcome.
	</p>

	<a href="mailto:breezbook24@gmail.com" class="link link-primary">breezbook24@gmail.com</a>

	<GitHubIcon class="text-4xl block mt-8" />
</section>
