---
import { Icon } from "astro-icon/components";

const links: {
  text: string;
  href: string;
}[] = [
  { text: "Features", href: "#features" },
  { text: "Pricing", href: "/pricing" },
  { text: "Docs", href: "/docs" },
  { text: "Contact", href: "/contact" },
];
---

<nav class="hidden sm:block">
  <ul class="flex">
    {
      links.map((link) => (
        <li>
          <a href={link.href} class="btn btn-ghost">
            {link.text}
          </a>
        </li>
      ))
    }
  </ul>
</nav>

<div class="drawer drawer-end sm:hidden w-20 p-0 flex justify-end">
  <input id="my-drawer" type="checkbox" class="drawer-toggle" />
  <div class="drawer-content">
    <label for="my-drawer" class="drawer-button btn btn-ghost btn-circle">
      <Icon name="solar:hamburger-menu-broken" class="text-4xl text-neutral" />
    </label>
  </div>

  <div class="drawer-side">
    <label for="my-drawer" aria-label="close sidebar" class="drawer-overlay">
    </label>
    <ul class="menu p-4 w-40 min-h-full bg-base-200 text-base-content">
      {
        links.map((link) => (
          <li>
            <a href={link.href} class="link link-hover">
              {link.text}
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</div>
