---
import HeaderNav from './HeaderNav.astro';
---

<!-- <header class="navbar shadow-sm justify-center"> -->
<header class="navbar shadow-sm px-[var(--page-padding)] justify-between">
	<a href="/">
		<img src="./breezbook-logo.svg" alt="Breezbook Logo" class="h-7 sm:h-8 md:h-10" />
	</a>

	<HeaderNav />
</header>
