---
import { Icon } from 'astro-icon/components';
---

<div class="flex flex-col gap-4 items-end">
	<div class="mockup-browser border border-base-300 shadow-2xl w-[40vw]">
		<div class="mockup-browser-toolbar">
			<div class="input border border-base-300">https://thesmartwashltd.breezbook.me/london</div>
		</div>

		<!-- <img src="hero-image-1.png" class="rounded-lg" /> -->
		<video class="rounded-lg" autoplay loop muted playsinline>
			<source src="hero-video.mp4" type="video/mp4" />
		</video>
	</div>

	<a
		class="btn btn-accent"
		href="https://thesmartwashltd.breezbook.dev/london"
		target="_blank"
		rel="noopener noreferrer"
	>
		Try it!
		<Icon name="solar:arrow-right-up-broken" class="text-xl" />
	</a>
</div>

<style>
	video.loading {
		background: black url(/hero-image-1.png) center center no-repeat;
	}
</style>
