---
import { Icon } from 'astro-icon/components';
---

<div class="flex flex-col gap-4 items-end w-full sm:w-[60vw] md:w-[40vw] max-w-[650px]">
	<div class="mockup-browser border border-base-300 shadow-2xl w-full">
		<div class="mockup-browser-toolbar">
			<div class="input border border-base-300">https://thesmartwashltd.breezbook.me/london</div>
		</div>

		<a
			class="block relative wrapper"
			href="https://thesmartwashltd.breezbook.dev/london"
			target="_blank"
			rel="noopener noreferrer"
		>
			<video class="rounded-lg" autoplay loop muted playsinline poster="hero-image-1.webp">
				<source src="hero-video.mp4" type="video/mp4" />
			</video>

			<div
				class="overlay absolute opacity-0 inset-0 transition-opacity
							bg-black/40 text-white flex items-center justify-center"
			>
				<span class="text-4xl font-bold"> Try it! </span>
				<Icon name="solar:arrow-right-up-broken" class="text-5xl" />
			</div>
		</a>
	</div>
</div>

<style>
	video.loading {
		background: black url(/hero-image-1.webp) center center no-repeat;
	}

	.wrapper:hover .overlay {
		opacity: 1;
	}
</style>
