---
import HeroMockup from './HeroMockup.astro';
import JoinWaitlist from './JoinWaitlist.svelte';
---

<div class="hero lg:py-[10vh] px-[var(--page-padding)]">
	<div class="hero-content flex-col md:flex-row lg:justify-between max-w-full w-full gap-12">
		<div class="lg:w-[35vw] max-w-[40rem]">
			<h1 class="text-4xl sm:text-5xl font-bold tracking-tighter">
				All you need to run your bookings business on Airtable
			</h1>
			<p class="py-6 tracking-tight text-sm sm:text-base">
				Breezbook is a no-code solution that helps you manage your bookings business with integration to Airtable. It's
				a simple and easy way to manage your bookings, customers, and payments all in one place.
			</p>

			<JoinWaitlist client:load />
		</div>

		<HeroMockup />
	</div>
</div>
