---
// import '../styles/fonts.css';
import '../styles/global.css';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.svelte';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Breezbook is all you need to run your booking business on Airtable" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />

		<style>
			/* Prevent false padding on right of the screen */
			html {
				width: 100%;
				overflow-x: hidden;
				position: relative;
			}

			/* Fonts had to be inlined because of a bug in Astro */
			@font-face {
				font-family: Commissioner;
				src: url(/fonts/Commissioner/static/Commissioner-Black.ttf);
				font-weight: 900;
			}

			@font-face {
				font-family: Commissioner;
				src: url(/fonts/Commissioner/static/Commissioner-ExtraBold.ttf);
				font-weight: 800;
			}

			@font-face {
				font-family: Commissioner;
				src: url(/fonts/Commissioner/static/Commissioner-Bold.ttf);
				font-weight: 700;
			}

			@font-face {
				font-family: Commissioner;
				src: url(/fonts/Commissioner/static/Commissioner-SemiBold.ttf);
				font-weight: 600;
			}

			@font-face {
				font-family: Commissioner;
				src: url(/fonts/Commissioner/static/Commissioner-Medium.ttf);
				font-weight: 500;
			}

			@font-face {
				font-family: Commissioner;
				src: url(/fonts/Commissioner/static/Commissioner-Regular.ttf);
				font-weight: 400;
			}

			@font-face {
				font-family: Commissioner;
				src: url(/fonts/Commissioner/static/Commissioner-Light.ttf);
				font-weight: 300;
			}

			@font-face {
				font-family: Commissioner;
				src: url(/fonts/Commissioner/static/Commissioner-ExtraLight.ttf);
				font-weight: 200;
			}

			@font-face {
				font-family: Commissioner;
				src: url(/fonts/Commissioner/static/Commissioner-Thin.ttf);
				font-weight: 100;
			}
		</style>

		<title>{title}</title>
	</head>

	<body class="min-h-[100vh] flex flex-col justify-between">
		<Header client:load />

		<main>
			<slot />
		</main>

		<Footer />
	</body>
</html>

<style is:global>
	:root {
		/* Width of all the content in the page */
		--page-content-width: clamp(320px, 90%, 1440px);
		/* Padding on the left and right of the page, calculated from the width */
		--page-padding: calc((100% - var(--page-content-width)) / 2);
	}

	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
