---
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Breezbook is all you need to run your booking business on Airtable" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />

		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Commissioner:wght@100;200;300;400;500;600;700;800;900&display=swap"
			rel="stylesheet"
		/>

		<style>
			/* Prevent false padding on right of the screen */
			html,
			body {
				width: 100%;
				overflow-x: hidden;
				position: relative;
			}
		</style>

		<title>{title}</title>
	</head>

	<body>
		<Header />

		<main>
			<slot />
		</main>

		<Footer />
	</body>
</html>

<style is:global>
	:root {
		/* Width of all the content in the page */
		--page-content-width: clamp(320px, 90%, 1440px);
		/* Padding on the left and right of the page, calculated from the width */
		--page-padding: calc((100% - var(--page-content-width)) / 2);
	}

	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
