/* This file is currently not in use due to a bug in the font loading process in Astro.
	The content is copied to the Layout.astro file. */

@font-face {
	font-family: Commissioner;
	src: url(/fonts/Commissioner/static/Commissioner-Black.ttf);
	font-weight: 900;
}

@font-face {
	font-family: Commissioner;
	src: url(/fonts/Commissioner/static/Commissioner-ExtraBold.ttf);
	font-weight: 800;
}

@font-face {
	font-family: Commissioner;
	src: url(/fonts/Commissioner/static/Commissioner-Bold.ttf);
	font-weight: 700;
}

@font-face {
	font-family: Commissioner;
	src: url(/fonts/Commissioner/static/Commissioner-SemiBold.ttf);
	font-weight: 600;
}

@font-face {
	font-family: Commissioner;
	src: url(/fonts/Commissioner/static/Commissioner-Medium.ttf);
	font-weight: 500;
}

@font-face {
	font-family: Commissioner;
	src: url(/fonts/Commissioner/static/Commissioner-Regular.ttf);
	font-weight: 400;
}

@font-face {
	font-family: Commissioner;
	src: url(/fonts/Commissioner/static/Commissioner-Light.ttf);
	font-weight: 300;
}

@font-face {
	font-family: Commissioner;
	src: url(/fonts/Commissioner/static/Commissioner-ExtraLight.ttf);
	font-weight: 200;
}

@font-face {
	font-family: Commissioner;
	src: url(/fonts/Commissioner/static/Commissioner-Thin.ttf);
	font-weight: 100;
}
